<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	
	<connectionStrings>
		<add name="ConexaoSqlServer" providerName="System.data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=db;Integrated Security=True"/>
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="~/Clientes/Clientes.aspx"/>
			<error statusCode="404" redirect="~/Clientes/Clientes.aspx"/>
		</customErrors>
		
		<authentication mode="Forms">
			<forms defaultUrl="~/Clientes/Clientes.aspx" loginUrl="~/Autenticacao/Login.aspx" timeout="30"></forms>
		</authentication>

		<authorization>
			<deny users="?"/>
		</authorization>

		<sessionState timeout="30">
			
		</sessionState>
	</system.web>
</configuration>