<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConexaoSqlServer" providerName="System.data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=db;Integrated Security=True"/>
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		
		<authentication mode="Forms">
			<forms defaultUrl="~/Clientes/Clientes.aspx" loginUrl="~/Autenticacao/Login.aspx" timeout="30"></forms>
		</authentication>

		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>