.principal{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    margin-top:15px;
    max-width: 100%;
}

.cliente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 280px;
    border: 1px solid black;
    justify-content: space-between;
    margin: 5px;
    cursor: pointer;
}

.cliente-info {
    margin: 5px;
    padding: 5px;
}